<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/styles.css")
        title Guess Mine
    body
        form.loginBox.jsLogin
            h4.loginBox__title Log in
            input(type="text", placeholder="Username")
        .gameContainer
            .main
                .canvas
            .chat
                ul.chatMessages
                form.sendMessage
                    input.sendMessage__input(placeholder="Write a message")
        script.
            let socketEvents = !{events}
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")